apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-nextcloud-database
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Release.Name }}-nextcloud-database
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-nextcloud-database
    spec:
      containers:
      - name: nextcloud-database
        image: docker.io/postgres:17
        imagePullPolicy: Always
        ports:
          - containerPort: 5432 
        envFrom:
            - configMapRef:
                name: {{ .Release.Name }}-nextcloud-database-configmap      
        volumeMounts:
          - mountPath: "/var/lib/postgresql/data"
            name: main-storage
      volumes:
        - name: main-storage
          hostPath: 
            path: /data/ssd/nextcloud-database
